<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rs2026_gate">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="8.6159E-05 2.2529E-06 -0.26534"
        rpy="0 0 0" />
      <mass
        value="15.543" />
      <inertia
        ixx="3.2566"
        ixy="-1.1467E-05"
        ixz="-0.00030835"
        iyy="23.727"
        iyz="2.6926E-06"
        izz="20.475" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rs2026_gate/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rs2026_gate/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>