<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="slalom_white">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.6434E-19 0.45 -4.9507E-19"
        rpy="0 0 0" />
      <mass
        value="1.8241" />
      <inertia
        ixx="0.12342"
        ixy="2.5172E-35"
        ixz="4.1934E-37"
        iyy="0.00058843"
        iyz="-1.0778E-35"
        izz="0.12342" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://slalom_white/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://slalom_white/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>